* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // root 16px * 0.625 == 10px
}

body {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin: 3rem 0;
    /* color: red; */
}

.container{
  /* border: 1px solid; */
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 500px;
}
.item{
    border: 1px solid;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    border-radius: 20px 20px 0px 0px;
    background-color: black;
    color: white;
    cursor: auto;
}
.item2, .item3, .item4{
    background-color: gray;
}
.item5, .item9, .item13, .item17{
    background-color: rgb(242, 85, 50);
}
.item21{
    background-color: red;
}
.item18{
    border-radius: 0px 0px 0px 20px;
}
.item21{
    border-radius: 0px 0px 20px 0px;
}
